- provide(:help, "Help")
%html
  %head
    %title #{yield(:help)} | Ruby on Rails Tutorial Sample App
  %body
    %h1 Sample App
    %p This is the help page <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a> Sampl application
